<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite de Pruebas">
    <test name="SwipeCard test">
        <classes>
            <class name="com.mobileAutomationFinalPractice.Tests.NavigationTest"/>
        </classes>
    </test>
    <test name="Pruebas de Funcionalidad">
        <classes>

            <class name="com.mobileAutomationFinalPractice.Tests.SignUpTest"/>
        </classes>
    </test>
    <test name="SwipeCard test">
        <classes>
            <class name="com.mobileAutomationFinalPractice.Tests.SwipeCardsTest"/>
        </classes>
    </test>
</suite>